* {
    /* border: solid 1px black; */
    margin: 0px;
    padding: 0px;    
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(243, 242, 242);
    width: 100%;
    height: 830px;

}

.topBar {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    height: 50px;    
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    padding-top: 20px;
    display: none;
    position: absolute;
    width: 40vw;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    background-color: white;
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content p:hover {
    color: #FFFFFF;
    background-color: grey;
}

#buttonDropdown {
    border: 0px;
    height: 25px;
}

.dropdownTwo-content {
    margin-left: 40vw;
    padding-top: 20px;
    display: none;
    position: absolute;
    width: 40vw;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdownTwo-content {
    display: block;
}

.dropdownTwo-content p {
    background-color: white;
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdownTwo-content p:hover {
    color: #FFFFFF;
    background-color: grey;
}

.barIcons {
    height: 25px;
}

#car{
    height: 42px;
}

.productNameContainer {
    margin: 20px;
}

#productDescription {
    margin-top: 10px;
    font-weight: 100;
    font-size: 14px;
    text-align: justify;
}

.mainImage {
    width: 17vw;
}

.mainImageContainer {
    background-color: white;
    margin: 3%; 
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 90vw;
}

.productCharacteristics {
    margin: 4px;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 20px;
}

#productCharacteristicsTitle {
    margin-bottom: 10px;
    font-weight: bold;
}

.selectionContainer {
    padding: 10px;
    border: solid 2px grey;
    border-radius: 10px;
    margin: 20px; 
    width: 84vw;
}

label {
    margin: 2px;
    font-size: small;
}

.optionsTitle {
    margin-bottom: 5px;
}

.addButtonContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addButton {
    border-radius: 7px;
    padding: 10px;
    width: 100px;
}


.dropdownCar-content {
    margin-left: -8vw;
    padding-top: 10px;
    display: none;
    position: absolute;
    width: 14vw;
    overflow: auto;
}

.dropdownCar-content {
    display: block;
}

.dropdownCar-content p {
    background-color: rgba(0, 0, 0, 0.055);
    display: block;
    color: #e90c0c;
    padding: 5px;
    text-decoration: none;
}

#addButton:hover {
    color: #FFFFFF;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.651);
    border-color: #FFFFFF;
}

@media only screen and (max-width: 930px) {
    .mainImage {
        width: 30vw;
    }
    .addButtonContainer {
        margin-top: -1px;
    }
    .mainImageContainer {
        height: 20vh;
        width: 86vw;
    }
    .dropdownCar-content {
        width: 20vw;

    }
    .dropdownCar-content p {
        font-size: small;
    }
    .dropdown-content {
        width: 460%
    }
    .categoryImported {
        font-size: small;
    }
    .products{
        font-size: small;
    }
    .dropdownTwo-content {
        margin-left: 36vw;
    }
    .selectionContainer {
        margin: 9px; 
        width: 89vw;
        height: 40px;
    }
  }
