* {
    /* border: solid 1px black; */
    margin: 0px;
    padding: 0px;

}

body{
    background-color: rgb(243, 242, 242);
    width: 100%;   
}

.topBar {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    height: 50px;
    
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    padding-top: 20px;
    display: none;
    position: absolute;
    width: 580%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    background-color: rgb(255, 255, 255);
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content p:hover {
    color: #FFFFFF;
    background-color: grey;
}

#buttonDropdown {
    border: 0px;
    height: 25px;
}


.dropdownCar-content {
    margin-left: -5vw;
    padding-top: 10px;
    display: none;
    position: absolute;
    width: 17vw;
    overflow: auto;

}

.dropdownCar-content {
    display: block;
}

.dropdownCar-content p {
    background-color: rgba(12, 12, 12, 0.541);
    display: block;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}


.barIcons {
    height: 25px;
}

#car{
    height: 42px;
}

.mainImage {
    width: 100%;
}

.productsContainer{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 150vh;
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 43%;
    height: 50%;
    column-gap: 70px;

}

.productsImage {
    height: 45%;
}

.anchorProduct {
    height: 60%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
} 

.productName{
    font-size: 200%;

}

.productPrice{
    font-size: 180%;
    margin-top: 5px;
    color: grey;
}

.addButton{
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    font-size: large;
}

.productInfoContainer {
    text-align: center;
    width: 100%; 
}

.contactInformationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    margin-top: 5%;
}

.contactInformation{
    display: inline-block;
    font-size: 20px;
}

.mediaIcons {
    margin-left: 10px;
    height: 25px;
}

#facebookIcon {
    margin-left: 7px;
}

@media only screen and (max-width: 930px) {
    .productsContainer{
        align-items: flex-start;
        margin-top: 5px;
        height: 510px;
    }
    
    .products {
        height: 25px;
    }

    .anchorProduct {
        height: 165px;
        margin-bottom: 10px;
    } 

    .productName{
        font-size: 80%;
    
    }
    
    .productPrice{
        font-size: 75%;
    }

    .addButton{
        margin-top: 5px;
        padding: 3px;
        width: 80px;
        font-size: small;
    }

    .contactInformation{
        font-size: 10px;
    }
    
    .mediaIcons {
        margin-left: 5px;
        height: 15px;
    }
    .dropdownCar-content {
        margin-left: -8vw;
        width: 20vw;
        font-size: small;    
    }
    .dropdown-content {
        width: 460%;
    }
    .categoryImported {
        font-size: small;
    }
    .contactInformationContainer{
        margin-top: 5px;
    }
  }