* {
    /* border: solid 1px red; */
    margin: 0px;
    padding: 0px;    
}

body{
    background-color: rgb(243, 242, 242);   
    width: 100%;

}

.topBar {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    height: 50px;    
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    padding-top: 20px;
    display: none;
    position: absolute;
    width: 40vw;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    background-color: white;
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content p:hover {
    color: #FFFFFF;
    background-color: grey;
}

#buttonDropdown {
    border: 0px;
    height: 25px;
}

.dropdownTwo-content {
    margin-left: 40vw;
    padding-top: 20px;
    display: none;
    position: absolute;
    width: 40vw;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdownTwo-content {
    display: block;
}

.dropdownTwo-content a {
    background-color: white;
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdownTwo-content a:hover {
    color: #FFFFFF;
    background-color: grey;
}

.barIcons {
    height: 25px;
}

#car{
    height: 42px;
}

.productNameContainer {
    margin: 20px;
}

.summaryContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    padding: 5px;
    border: solid 2px grey;
    border-radius: 10px;
    margin: 20px; 
    width: 87vw;
}

.productImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 70px;
}

.productImage {
    height: 40px;
    /* width: 50px; */
}

.productInfoContainer {
    margin-left: 8px;
    width: 60vw;
}

.productCharacteristics {
    margin-top: 6px;
    font-size: 9px;
}

.invoiceInfoContainer {
    margin-top: 50px;
    height: 73vh;
}

.form {
    padding: 2px;
    margin: 7px;
}

#submitPurchase {
    border: 1px solid black;
    padding: 15px;
    margin-left: 45vw;
    font-style: normal;
    text-decoration: none    

}
#submitPurchaseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#totalAmount {
    margin-top: 30px;
    margin-bottom: 70px;
    color: rgb(255, 0, 51);
    font-size: 30px;
    font-weight: bold;
}

#invoiceDetails {
    margin-bottom: 10px;
}

#fname {
    width: 65%;
}

#fid {
    width: 40%;
}

#femail {
    width: 30%;
}

#fother {
    margin-top: 10px;
    width: 80%;
}

#fprovince {
    width: 50%;
}

#fcity {
    width: 40%;
}
#fneighborhood {
    width: 30%;
}

.productName {
    font-size: medium;
}

#submitPurchase:hover {
    color: #FFFFFF;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.651);
    border-color: #FFFFFF;
}

@media only screen and (max-width: 400px) {

    .summaryContainer {
        margin: 1px; 
    }
    .productName {
        font-size: small;
    }
    .productCharacteristics {
        font-size: 8px;
        width: 165px;
    }
    .productInfoContainer {
        width: 170px;
    }
    .quantityLabels {
        font-size: small;
    }
    #submitPurchase {
        padding: 10px;
        margin-left: 30vw;
    }
    .dropdown-content {
        width: 460%
    }
    .categoryImported {
        font-size: small;
    }
    .products{
        font-size: small;
    }
    .dropdownTwo-content {
        margin-left: 36vw;
    }
  }